# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

#xml
# Раскомментируйте строку ниже, если хотите исключить все XML файлы
# Или добавьте исключения для конкретных XML файлов, которые нужно отслеживать
 *.xml

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Qt specific
*.pro.user
*.qmlproject.user
*.qmlc
*.jsc
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qm
*.autosave

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# JSON files
*.json

#файлы временные
*.tmp
*.tmp.*
*.bak
*.bak.*

#private files
privat/

# Временные файлы
temp/
